:root{
  --clr-bg:#111;
  --clr-grid: #1e1e1e
}
body{
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;

  background-color: var(--clr-bg);
  background-image: radial-gradient(circle, rgba(175, 208, 84, .25) 1px, rgba(0, 0, 0, 0) 1px);
  background-size: 40px 40px;

  color: #f0f0f0;
  margin: 0;
  padding: 0;
  cursor: default;
}

.grid-container{
  padding: 0.5rem;
  color: white;
  display: grid;
  grid-template-rows: repeat(6, 5rem);
  grid-template-columns: repeat(3, 10rem);
  gap: 0.5rem;
}

.grid-item{  
  text-align: center;
  border-radius: 0.5rem;
  background: var(--clr-grid);
  
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items:center;
}

.about{
  grid-column:1/3;
  grid-row:1/3;
  padding: 0.5rem 0.75rem;
  
  text-align: left;
  gap: 0.25rem;
}
.about h2{
  font-size: 1rem;
  margin: 0;
}
.about p{
  font-family: Monospace;
  font-size: 0.75rem;
  color: #ababab;
  margin: 0;
  text-align: justify;
}
.about span{
  color: #e8e8e8;
  font-size: 0.9rem;
  font-weight: bold;
  transition: 0.3s;
}
.about span:hover{
  border-radius: 0.25rem;
  background: white;
  color: black;
  padding: 0.1rem;
}


.role{
  grid-column:1;
  grid-row: 3;
  background: #cbab80;
}
.role h2{
  font-size: 1rem;
}


.image{
  cursor:pointer;
  grid-column:3;
  grid-row:1/4;
  transition: scale 0.5s;
}
.image img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 0.5rem;
}
.image:hover{
  scale: 0.95;
}


.quote{
  grid-column:3;
  grid-row:4;
  background: #d20026;
}
.quote p{
  font-family: Monospace;
  font-size: 0.75rem;
}


.projects{
  grid-column:1;
  grid-row:4/7;
  
  font-family: Monospace;
}
.projects h2{
  font-size: 1.25rem;
  margin: 0;
  margin-top: 1rem;
}
.projects ul{
  padding: 0;
}
.projects li{
  cursor: pointer;
  
  background: #222222;
  
  border-radius: 0.5rem;
  border-bottom: 1px solid rgb(85, 85, 85);
  border-right: 1px solid rgb(85, 85, 85);
  padding: 0.5rem;
  list-style:none;
  margin-bottom: 0.75rem;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  transition: transform 0.5s, background 0.5s;
}
.projects li:hover{
  background: #9aa688;
  border:none;
  transform: scale(1.05);
}
.projects a{
  text-decoration: none;
  color: white;
}
.projects h3{  
  font-size: 0.75rem;
  margin:0.25rem;
}
.projects p{
  color: #d8d8d8;
  font-size: 0.6rem;
  margin:0;
}


.name{
  cursor: pointer;
  grid-column:2;
  grid-row:3/5;
  transition: transform 0.5s;
}
.name:hover{
  transform: scale(0.95);
}
.name img{
  height: 40%;
  width: 40%;
  object-fit: cover;
  object-position: center;
}
.name h1{
  font-family:Arial Black;
  font-size: 1.25rem;
}

.contact{
  grid-column:2/4;
  grid-row:5/7;
}
.socials{
  display:flex;
  width: 80%;
  justify-content: space-around;
}
.socials img{
  height: 2.5rem;
  background: #cccccc;
  filter: invert(100%);
  padding: 0.25rem;
  border-radius: 0.5rem;
  
  transition: scale 0.5s, filter 0.4s, background 0.4s;
}
.socials img:hover{
  filter: invert(0%);
  background: white;
  scale: 1.1;
}

/* Animations */
.slide-in-left{animation:slide-in-left .5s cubic-bezier(.25,.46,.45,.94) both}
@keyframes slide-in-left{0%{transform:translateX(-1000px);opacity:0}100%{transform:translateX(0);opacity:1}}

.slide-in-right{animation:slide-in-right .5s cubic-bezier(.25,.46,.45,.94) both}
@keyframes slide-in-right{0%{transform:translateX(1000px);opacity:0}100%{transform:translateX(0);opacity:1}}

.slide-in-bottom{animation:slide-in-bottom .5s cubic-bezier(.25,.46,.45,.94) both}
@keyframes slide-in-bottom{0%{transform:translateY(1000px);opacity:0}100%{transform:translateY(0);opacity:1}}

.slide-in-top{animation:slide-in-top .5s cubic-bezier(.25,.46,.45,.94) both}
@keyframes slide-in-top{0%{transform:translateY(-1000px);opacity:0}100%{transform:translateY(0);opacity:1}}

.bounce-in-top{animation:bounce-in-top 1.1s both}
@keyframes bounce-in-top{0%{transform:translateY(-500px);animation-timing-function:ease-in;opacity:0}38%{transform:translateY(0);animation-timing-function:ease-out;opacity:1}55%{transform:translateY(-65px);animation-timing-function:ease-in}72%{transform:translateY(0);animation-timing-function:ease-out}81%{transform:translateY(-28px);animation-timing-function:ease-in}90%{transform:translateY(0);animation-timing-function:ease-out}95%{transform:translateY(-8px);animation-timing-function:ease-in}100%{transform:translateY(0);animation-timing-function:ease-out}}

.rotate-center{animation:rotate-center .6s ease-in-out both}
@keyframes rotate-center{0%{transform:rotate(0)}100%{transform:rotate(360deg)}}